body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

input, select {
    padding: 10px;letter-spacing: normal;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
